
@import url('https://fonts.googleapis.com/css?family=Nobile|Lato');

/* not working in this version

:root{
	--blue: #4DA7D1;
  --grey: #9b9292;
  --black: #0e0705;
  --green: #a5d3c1;
  --gold: #eebf48;
  --accBackground: #ffd;
  --red: #E44;
}
*/

a, a > code {
	font-family: Lato;
  color: #4DA7D1;
  text-decoration: underline;
}

p, li {
	font-family: Nobile;
	font-size: 1.3em;
	color: #0e0705;
}


h2{
	font-family: Nobile;
	font-size: 1.9em;
	color: #0e0705;
}

h6{
	font-family: Nobile;
	font-size: 1.4em;
	font-weight: bolder;
	color: #0e0705;
}

html, body{
	background-color: #f5f5f5;
	float: none;
}

.card-body{
	background: #fff;
}

.card-header{
	background: #4DA7D1;
	font-family: Lato;
}

.btn {
	background: #4DA7D1;
}


.form-group {
	margin-left: auto;
	margin-right: auto;
	
}

.acc-input-group {
	font-size: 1rem;
	font-family: Lato;
	display: flex;
	color: #4DA7D1;
	justify-content: space-between;

} 

.acc-input-group > label {
	display:block;
	padding: 1rem 1rem 0 0;
	margin: 0;
	float: right;
}


input:checked + span{ 
	color: #E44;
}